@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins-Regular.ttf');
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

* {
    font-family: Poppins !important;
}

a {
    text-decoration: none;
}