@use '../scss/palette.scss' as pallet;

//HERO SECTION//
#heroSection {
    background-image: url('../images/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#464646;
    height: 100vh;
}

#heroText {
    color: white;
    font-weight: 900;
}

//CALL TO ACTION SECTION//
#callToActionSection {
    background-color: pallet.$teal-blue;
    p.lead {
        color: white;
    }
}

//A SIMPLE PROCESS SECTION//
.processH1 {
    color: pallet.$teal-blue;
    font-weight: bolder;
}

.processIconText {
    color: white;
}

.processIconBox1{
    margin: 1em 0;
    background-color: pallet.$teal-blue;

    .processIconH1 {
        color: white;
    }
}

.processIconBox2{
    background-color: pallet.$morning-blue;

    .processIconH1 {
        color: white;
    }
}

.processIconBox3 {
    margin: 1em 0;
    background-color: pallet.$yellow-green-crayola;

    .processIconH1 {
        color: white;
    }
}
