@use '../scss/palette.scss' as pallet;
.nav-link {
    font-weight: bolder;
}

.navActive {
  background-color: white; 
  transition: ease 0.5s;

  .nav-link {
      color: pallet.$teal-blue !important;
  }

  .active {
      color: pallet.$dark-cornflower-blue !important;
  }

  .togglerBlack {
    background-color: pallet.$dark-cornflower-blue;
    }
}

.navNotActive {
    transition: ease 0.5s;

    .togglerWhite {
        background-color: rgba(255, 255, 255, 0.616);
    }
}