// X Small devices (landscape phones, 576px and up)
@media (max-width: 575px) {
    #heroText {
        font-size: 10vw;
    }

    #BlueButton {
        padding: 1.5vh 4vw;
    }

    #GreenButton {
        padding: 1.5vh 4vw;
    }

    .callToActionText {
        font-size: 5vw;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    //HERO SECTION//
    #heroText {
        font-size: 7vw;
    }

    #BlueButton {
        padding: 2vh 3vw;
    }

    #GreenButton {
        padding: 2vh 3vw;
    }

    .callToActionText {
        font-size: 4vw;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #heroText {
        font-size: 6vw;
    }

    #BlueButton {
        padding: 2vh 3vw;
    }

    #GreenButton {
        padding: 2vh 3vw;
    }

    .callToActionText {
        font-size: 4vw;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #heroText {
        font-size: 6vw;
    }

    #BlueButton {
        padding: 2vh 2.5vw;
    }

    #GreenButton {
        padding: 2vh 2.5vw;
    }

    .callToActionText {
        font-size: 3vw;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    #heroText {
        font-size: 6vw;
    }

    #BlueButton {
        padding: 2vh 2vw;
    }

    #GreenButton {
        padding: 2vh 2vw;
    }

    .callToActionText {
        font-size: 3vw;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    #heroText {
        font-size: 6vw;
    }

    #BlueButton {
        padding: 2vh 2vw;
    }

    #GreenButton {
        padding: 2vh 2vw;
    }

    .callToActionText {
        font-size: 2.5vw;
    }
}
